name: Fetch prices daily

on:
  schedule:
    - cron: "0 2 * * *" # 02:00Z daily

jobs:
  call_api:
    runs-on: ubuntu-latest
    steps:
      - name: Make API Request
        env:
          FETCH_PRICES_KEY: ${{ secrets.FETCH_PRICES_KEY }}
        run: |
          response_code=$(curl -s -o /dev/null -w "%{http_code}" \
          -X POST \
          -H "fetch-prices-key: $FETCH_PRICES_KEY" \
          https://big-money-rho.vercel.app/api/fetch-prices

          echo "Response Code: $response_code"

          if [ "$response_code" -ne 200 ]; then
            echo "API request failed with response code $response_code"
            exit 1
          fi
