name: Fetch prices daily

on:
  schedule:
    - cron: "0 2 * * *" # 02:00Z daily

jobs:
  call_api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Make API Request
        env:
          FETCH_PRICES_KEY: ${{ secrets.FETCH_PRICES_KEY }}
        run: ./.github/scripts/fetch-prices.sh
