name: Fetch prices daily

on:
  schedule:
    - cron: "0 2 * * *" # 02:00Z daily

jobs:
  call_api:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./scripts
    steps:
      - name: Make API Request
        env:
          FETCH_PRICES_KEY: ${{ secrets.FETCH_PRICES_KEY }}
        run: ./fetch_prices.sh
